body
{
bacground-color:blue
}

#container
{
width:1000px
margin:100px
border-radius:10px
}
#header
{
bacground-color: green
hight:90px
border-radius:10PX
}
#menu
{
background-color:black
heght:29px
border-radius:10px
}

#column1
{
background-color:green
height:
width:
float:left
border-radius:10px
}
#column2
{
background-color:green
height:
width:
float:left
border-radius:10px
}
#column3
{
background-color:green
height:
width:
float:left
border-radius:10px
}