body
{
bacground-color:blue;
}

#container
{
width:1290px;
margin:30px;
border-radius:120px;
}
#header
{
bacground-color:green;
height:50px;
border-radius:10PX;
}
#menu
{
background-color:green;
height:50px;
border-radius:2px;
font-size:20px;
font-type:Algerian;


}
.menu-bar ul li
{
width:120px;
margin:15px;
padding:15px;
font-color:white
}
#column1
{
background-color:blue;
height:600px;
width:430px;
float:left;
border-radius:10px;
}

#column2
{
background-color:red;
height:600px;
width:430px;
float:left;
border-radius:10px;
font-color:white;
}
#column3
{
background-color:violet;
height:600px;
width:430px;
float:left;
border-radius:10px;
}

#menu ul
{
float:center;
margin:3px;
padding:4px;
}

#menu ul li
{
list-style-type:none;
display:inline;
}
#menu li a:
{
display:black;
float:left;
padding:1px;
color:white;
text-decoration:none;
border-right:3px red;
}


#menu li a:hover
{









background:red;
}